
<h1>{{donor.name + ' ' + donor.surname }}</h1>

<!--<div class ='container' *ngIf="donor.avatar">-->
<!--<img src='data:image/jpg;base64,{{donor.avatar }}' width=100 height=100 />-->
<!--</div>-->
<!--<form action = '/donors/changeName' method = post>-->
<!--New Name:-->
<!--<input type = text name = 'newName'/>-->
<!--<br/>-->
<!--<input type = 'submit' value = 'Change name'/>-->
<!--</form>-->
<!--<form action='/api/profile/upload_avatar' method='POST' enctype="multipart/form-data">-->
    <!--Avatar:-->
    <!--<br />-->
    <!--<input type='file' [(ngModel)]="avatar" base-sixty-four-input/>-->
    <!--<br />-->
    <!--<button type='submit' class='btn btn-primary btn-lg' (click)="OnAddAvatar()">Upload</button>-->
<!--</form>-->
<!--<br/>-->

<!--<form action="/profile/update" method="get">-->
    <!--<input type="submit" value="Change info"/>-->
<!--</form>-->

New donation:
<br/>
 <input type = 'date' [(ngModel)]="donation"/>
<br/>
<button type="submit" class="btn btn-primary btn-lg"  (click)="OnAddDonation()">Add</button>
<br/>
<button type="submit" class="btn btn-primary btn-lg"  (click)="OnLogOut()">Log out</button>
<br/>
<button type="submit" class="btn btn-primary btn-lg"  (click) = 'OnDeleteProfile()'>Delete profile</button>

