<!DOCTYPE html>
<html>
  <head>
    <title>Donor search</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/newdonor">
   <input type="submit" value="I wanna become a donor" />
  </form>

  <form action="/new_recipient">
    <input type="submit" value="I need donor" />
  </form>

  <br/>
  <form action = '/logIn' METHOD="post">

    Email:
    <input type = 'email' name = 'email'/>
    <br/>
    Password:
    <input type = "password" name="password"/>
    <br/>
    <input type = 'submit' value = 'LogIn'/>
    </form>
  </body>
</html>
