<div>
    <nav class='navbar navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
            <a class='navbar-brand'>
                <span class="glyphicon glyphicon-tint"></span>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/welcome']">Home</a></li>
                <li><a [routerLink]="['/donors']">All donors</a></li>
                <li><a [routerLink] = "['/recipients']">All recipients</a></li>
                <li><a [routerLink] = "['/news']"> News</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li  *ngIf="donor"><a [routerLink] = "['/donorprofile']" >{{donor.name + ' '+ donor.surname}}</a></li>
            </ul>

        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>

</div>